html
{
  background:#000000; /*linear-gradient(#2869ce,#5e9fe2,#bae2fb,#ffffff);*/
  width:100%;
  height:100%;
}

h1, h2, h3
{
  position:relative;
  vertical-align:top;
  display:block;
  width:1200px;
  border-radius:8px;
  margin-top:0px;
  margin-left:auto;
  margin-right:auto;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  font: normal normal bold 32px/1 "Trebuchet MS", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  background-color: rgba(140,140,140,0.7);
  text-align: left;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}
h2 { font: normal normal bold italic 24px/1 "Trebuchet MS", Helvetica, sans-serif; }
h3 { font: normal normal italic 16px/1 "Trebuchet MS", Helvetica, sans-serif; }

p, ul, ol
{
  position:relative;
  vertical-align:top;
  display:block;
  width:1200px;
  border-radius:8px;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:10px;
  margin-right:10px;
  
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  border: none;
  font: normal 14px/1 "Georgia", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: left;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background-color: rgba(140,140,140,0);
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}

div
{
  position:relative;
  vertical-align:top;
  display:block;
  width:1200px;
  border-radius:8px;
  margin-top:30px;
  margin-left:auto;
  margin-right:auto;
  
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0px;
  border: none;
  font: normal 14px/1 "Georgia", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: left;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background-color: rgba(140,140,140,0.25);
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}
